.NoteModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: from 0 to 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease all;
	background-color: rgba(0, 0, 0, 0.25);
}
.NoteModal .box {
	background-color: var(--color-text-light);
	width: 500px;
	transition: 0.5s ease all;
}
.NoteModal .box .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.NoteModal .box .header h2 {
	color: var(--color-text);
	border-left: 5px solid var(--color-primary);
	padding-left: 10px;
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	letter-spacing: 2px;
}
.NoteModal .box .content {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
}
.NoteModal .box .content textarea {
	width: 100%;
	height: 300px;
	resize: none;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: transparent;
	color: var(--color-text);
}
.NoteModal .box .content .input-box {
	align-self: end;
}
.NoteModal .box .footer {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 767.98px) {

	.NoteModal .box {
		width: 90%;
	}
	.NoteModal .box .header h2 {
		font-size: 25px;
	}
	.NoteModal .box .content {
		padding: 0 20px;
		display: flex;
		flex-direction: column;
	}

}
