.InfoModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: from 0 to 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease all;
	background-color: rgba(0, 0, 0, 0.25);
}
.InfoModal .box {
	background-color: var(--color-text-light);
	width: 300px;
	transition: 0.5s ease all;
	display: flex;
	flex-direction: column;
	padding: 20px;
	cursor: pointer;
	transition: 0.5s ease all;
}
.InfoModal .box p {
	padding-top: 20px;
	text-align: justify;
}

@media (max-width: 767.98px) {

	.InfoModal .box {
		width: 80%;
	}

}
