.Alert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease all;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.Alert .alert-box {
	background-color: var(--color-text-light);
	width: 350px;
	transition: 0.5s ease all;
}
.Alert .alert-box .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.Alert .alert-box .header h2 {
	color: var(--color-text);
	border-left: 5px solid var(--color-red);
	padding-left: 10px;
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	letter-spacing: 2px;
}
.Alert .alert-box .content {
	padding: 0 20px 20px 20px;
}
.Alert .alert-box .content p {
	text-align: justify;
	font-weight: bold;
	color: var(--color-text);
}

@media (max-width: 767.98px) {

	.Alert .alert-box {
		width: 90%;
	}
	.Alert .alert-box .header h2 {
		font-size: 25px;
	}

}
