.NoteItem {
	padding: 15px;
	margin-bottom: 20px;
	cursor: default;
	transition: 0.5s ease all;
	display: flex;
	flex-direction: row;
	border-left-width: 5px;
	border-left-style: solid;
}
.NoteItem .info {
	flex: 1;
	margin-right: 10px;
	cursor: pointer;
}
.NoteItem .info p {
	text-align: justify;
}
.NoteItem .info .rows {
	margin-top: 20px;
}
.NoteItem .info .rows .row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.NoteItem .info .rows .row .icon {
	padding-right: 10px;
}
.NoteItem .info .rows .row p {
	color: var(--color-gray);
	font-weight: bold;
	font-size: 14px;
}
.NoteItem .info .rows .row:first-child {
	margin-bottom: 10px;
}
.NoteItem .buttons button {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	transition: 0.5s ease all;
}
.NoteItem .buttons button .remove {
	color: var(--color-gray);
}
.NoteItem:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
