@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
	--font: 'Nunito', sans-serif;

	--color-primary: #25cc9a;
	--color-primary-light: #2be773;
		
	--color-gray: #999999;
	--color-gray-light: #eeeeee;
	
	--color-text: #0d0d0f;
	--color-text-light: #fff;

	--wallpaper: linear-gradient(rgba(36, 104, 84, 0.514), rgba(59, 59, 59, 0.363), rgba(17, 17, 17, 0.397));
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: var(--font);
	background-color: var(--color-gray-light);
	transition: 0.5s ease all;
}
body.dark {
	--color-primary: #1cb688;
	--color-primary-light: #00ff62;
		
	--color-gray: #999999;
	--color-gray-light: #0f0f11;
	
	--color-text: #fff;
	--color-text-light: #1c1c22;

	--wallpaper: linear-gradient(rgba(36, 104, 84, 0.514), rgba(59, 59, 59, 0.363), rgba(17, 17, 17, 0.397));
}
code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1, h2, h3, h4, h5, p, span, b {
	margin: 0 !important;
	color: var(--color-text);
}

.btn {
	font-family: var(--font);
	font-size: 16px;
	padding: 5px 20px;
	transition: 0.5s ease all;
	outline: none;
	cursor: pointer;
	font-family: 'Bree Serif', serif;
}
.btn.btn-primary {
	border: 2px solid var(--color-primary);
	background-color: var(--color-primary);
	color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	border-color: var(--color-primary-light);
	background-color: var(--color-primary-light);
}
.btn.btn-secondary {
	background-color: transparent;
	border: 2px solid var(--color-primary);
	color: var(--color-primary);
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
	border-color: var(--color-primary-light);
	color: var(--color-primary-light);
}

.btn-circle {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	border: none;
	background-color: transparent;
	width: 35px;
	height: 35px;
	cursor: pointer;
	transition: 0.5s ease all;
}
.btn-circle .icon {
	color: var(--color-primary);
	transition: 0.5s ease all;
}
.btn-circle:hover,
.btn-circle:focus {
	background-color: var(--color-primary);
}
.btn-circle:hover .icon,
.btn-circle:focus .icon {
	color: #fff;
}

.select-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 5px;
}
.select-box .icon {
	color: var(--color-primary);
	padding: 5px;
}
.select-box select {
	background-color: transparent;
	padding: 5px;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: bold;
	font-family: var(--font);
	color: var(--color-text);
}
.select-box select option {
	color: var(--color-text);
	background-color: var(--color-text-light);
}

.input-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 5px;
	background-color: rgba(0, 0, 0, 0.719);
	border: 2px solid var(--color-primary);
}
.input-box .icon {
	color: var(--color-primary);
	padding: 10px;
}
.input-box input {
	flex: 1;
	padding: 10px 10px 10px 0;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	font-family: var(--font);
	color: #fff;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
